@import url('https://fonts.googleapis.com/css?family=Press+Start+2P:400,700&display=swap');

body {
    margin: 0;
    font-family: 'Press Start 2P';
    scroll-behavior: smooth;
    display: flex;
    color: #fff;
    background-color: #60695C;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.href {
    text-decoration: none;
    color: #fff;
}

