@import url('https://fonts.googleapis.com/css?family=Press+Start+2P:400,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P';
  scroll-behavior: smooth;
  color: #fff;
  background-color: #60695C;
}

#infocontainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#infocontainer h1 {
  padding: 1rem;
}

.obed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  color: #60695C;
  border-radius: 10px;
  margin: 1rem;
}

.date {
  padding-left: 1rem;
}

.obed form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle {
  padding-right: 20rem; /* Adjust padding if needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.obed form button {
  margin-right: 10px;
}

.toggle-btn {
  outline: none;
  border: none;
  font-family: inherit;
  background-color: #fff;
  color: #60695C;
  border-radius: 10px; /* Consistent border radius */
  cursor: pointer; 
  height: 80%;
}

.toggle-btn.active { /* Style for active button */
  background-color: #60695C;
  color: white;
}

button {
    background-color: #60695C;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: inherit;
    padding-left: 1rem;
    padding-right: 1rem;
}
