@import url('https://fonts.googleapis.com/css?family=Press+Start+2P:400,700&display=swap');

body {
    margin: 0;
    font-family: 'Press Start 2P';
    scroll-behavior: smooth;
    display: flex;
    color: #fff;
    background-color: #60695C;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35vw;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: none; 
}

input {
    box-sizing: border-box;
    width: 100%;
    font-family:'Press Start 2P';
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid white; 
    background-color: transparent; 
    color: white; 
}

input[type="submit"] {
    width: 100%;
    box-sizing: border-box;
    background-color: #41493E;
    color: white;
    border: none;
}

input[type="submit"]:hover {
    background-color: #31392d;
}

.href {
    color: white;
}   

