@import url('https://fonts.googleapis.com/css?family=Press+Start+2P:400,700&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #60695C;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
}

#time{
    color: #f3f4f5;
    font-size: larger;
}

#header{
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin-top: 1rem;
    color: #f3f4f5;
}

#todayContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    height: 80vh;
    margin-top: 1rem;
    background-color: #f3f4f5;
    border-radius: 10px;
}
.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 93vw;
    border-radius: 10px;
    margin-top: 1rem;
    background-color: #60695C;
    height: 35vh;
}

.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin-top: 1rem;
    color: #f3f4f5;
}

button[type="submit"]{
    background-color: #f3f4f5;
    font-family: 'Press Start 2P';
    color: #60695C;
    border: none;
    border-radius: 10px;
    width: 90vw;
    height: 10vh;
    margin-top: 1rem;
    cursor: pointer;
}